{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  // "plugins": ["@babel/plugin-transform-runtime"],
  // "babelHelpers": "runtime",
  // "extensions": ['.js', '.jsx', '.ts', '.tsx', '.scss'],
  "exclude": "**/node_modules/**"
}
